.forTrTables {
    background-color: rgba(138,138,138,0.33);
    font-weight: bold;
}

.forTables {
    border: 1px solid #ced4da;
}

.forSearchButton {
    border-color: #ced4da;
    color: #3f3f3f;
}

.forDropdowns {
    width: 100%;
    background-color: white;
    border-color: #ced4da;
    color: #818181;
    /*Ниже для отображения в случае длинного текста*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.forDropdowns:hover {
    color: white;
    background-color: #818181;
    border-color: #818181;
}

.forDropdowns[aria-expanded="true"] {
    color: white;
    background-color: #818181;
    border-color: #818181;
}

.dropdown-item:active {
    background-color: #818181;
}

.forButtons {
    font-size: medium;
    font-family: Helvetica, sans-serif;
    border: 1px solid #ced4da;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#buyed:checked {
    background-color: #818181;
    border: none;
}

#notBuyed:checked {
    background-color: #818181;
    border: none;
}

.form-control {
    resize: none;
}

.container {
    min-height: 600px;
    max-width: 70%;
}

.forLabels {
    color: #818181;
}

.forLabelsEdit {
    color: #818181;
    margin-left: 3%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}

.sidenav a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}