.forButtons {
    font-size: medium;
    font-family: Helvetica, sans-serif;
    border: 1px solid #ced4da;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#buyed:checked {
    background-color: #818181;
    border: none;
}

#notBuyed:checked {
    background-color: #818181;
    border: none;
}

.form-control {
    resize: none;
}

.container {
    min-height: 600px;
    max-width: 70%;
}

.forLabels {
    color: #818181;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 1.0s;
    padding-top: 60px;
}

.sidenav a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}